body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to bottom,#ffffff, #555555, #000000);
    margin: 0;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
    height: auto;
}

.registro-container {
    background: linear-gradient(to bottom, #e0e0e0, #cccccc);
    width: 400px;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #000000;
    font-weight: 600;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 16px;
    border: 1.8px solid #bdc3c7;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #2980b9;
    outline: none;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    padding: 14px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

button:hover {
    background-color: #000000;
}

@media (max-width: 480px) {
    .registro-container {
        width: 90%;
        padding: 20px;
    }
}